@model BibliotecaAdmi.Models.Libro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdAutot" class="control-label"></label>
                <select asp-for="IdAutot" class="form-control" asp-items="ViewBag.IdAutot"></select>
                <span asp-validation-for="IdAutot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editoral" class="control-label"></label>
                <input asp-for="Editoral" class="form-control" />
                <span asp-validation-for="Editoral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edicion" class="control-label"></label>
                <input asp-for="Edicion" class="form-control" />
                <span asp-validation-for="Edicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clasificacion" class="control-label"></label>
                <input asp-for="Clasificacion" class="form-control" />
                <span asp-validation-for="Clasificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioPublicacion" class="control-label"></label>
                <input asp-for="AnioPublicacion" class="form-control" />
                <span asp-validation-for="AnioPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
